#*
  Created by IntelliJ IDEA.
  User: fighting
  Date: 15/9/16
  Time: 下午4:21
  To change this template use File | Settings | File Templates.
*#
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>$title</title>
</head>
<body>
<h1>index</h1>
    #if( $XHTML )
        #set( $br = "<br />" )
    #else
        #set( $br = "<br>" )
    #end

    $br
    $br

Here we use a custom tool: $foo

    $br
    $br
    #foreach( $header in $request.HeaderNames )
    <b>$header:</b> $request.getHeader($header)<br>
    #end
    $userInfo.userName
</body>
</html>
