<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- 配置Mysql数据库连接 -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url"> jdbc:mysql://localhost:3307/dzeep</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>

        <!-- 配置H2数据库连接 -->
        <!--<property name="connection.driver_class">org.h2.Driver</property>-->
        <!--<property name="connection.url">jdbc:h2:mem:dzeep;DB_CLOSE_DELAY=-1;MVCC=TRUE</property>-->
        <!--<property name="connection.username">sa</property>-->
        <!--<property name="connection.password"></property>-->

        <!-- 为true表示将Hibernate发送给数据库的sql显示出来  -->
        <property name="show_sql">true</property>
        <!-- SQL方言，这边设定的是MySQL -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- SQL方言，设定为H2 -->
        <!--<property name="dialect">org.hibernate.dialect.H2Dialect</property>-->
        <!--一次读的数据库记录数 -->
        <property name="jdbc.fetch_size">50</property>
        <!--设定对数据库进行批量删除 -->
        <property name="jdbc.batch_size">30</property>
        <!-- 连接池数量 -->
        <property name="connection.pool_size">1</property>
        <!-- 不启用二级缓存 -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        <!--jdbc.use_scrollable_resultset是否允许Hibernate用JDBC的可滚动的结果集。对分页的结果集。对分页时的设置非常有帮助-->
        <property name="jdbc.use_scrollable_resultset">false </property>
        <!--connection.useUnicode 连接数据库时是否使用Unicode编码-->
        <property name="Connection.useUnicode">true </property>
        <!--connection.characterEncoding连接数据库时数据的传输字符集编码方式 -->
        <property name="connection.characterEncoding">UTF-8</property>

        <!-- 映射文件 -->
        <!-- 通过xml配置的方式来映射 -->
        <!--<mapping resource="com/dzbackstage/model/system.hbm.xml"/>-->
        <!-- 通过注解方式来映射 -->
        <!--<mapping class="com.dzbackstage.model.UserInfo"/>-->

    </session-factory>
</hibernate-configuration>